In [ ]:
import snowflake.snowpark as snp
import pandas as pd
# We can also use Snowpark for our analyses!
from snowflake.snowpark.context import get_active_session
session = get_active_session()

# Assume 'session' is an active Snowpark session
# Assume 'snowpark_df' is an existing Snowpark DataFrame

# Example: Create a sample Snowpark DataFrame for demonstration
data = [("Alice", 1), ("Bob", 2), ("Charlie", 3)]
schema = ["Name", "ID"]
snowpark_df = session.create_dataframe(data, schema)

# Convert the Snowpark DataFrame to a pandas DataFrame
pandas_df = snowpark_df.to_pandas()

# Now 'pandas_df' is a native pandas DataFrame that can be used for local operations
print(pandas_df.head())

In [ ]:
# Import python packages
import streamlit as st
import pandas as pd

# We can also use Snowpark for our analyses!
from snowflake.snowpark.context import get_active_session
session = get_active_session()

In [ ]:
-- Welcome to Snowflake Notebooks!
-- Try out a SQL cell to generate some data.
SELECT 'FRIDAY' as SNOWDAY, 0.2 as CHANCE_OF_SNOW
UNION ALL
SELECT 'SATURDAY',0.5
UNION ALL 
SELECT 'SUNDAY', 0.9;

In [ ]:
# Then, we can use the python name to turn cell2 into a Pandas dataframe
my_df = cell2.to_pandas()

# Chart the data
st.subheader("Chance of SNOW ‚ùÑÔ∏è")
st.line_chart(my_df, x='SNOWDAY', y='CHANCE_OF_SNOW')

# Give it a go!
st.subheader("Try it out yourself and show off your skills ü•á")